[user]
    name = Alex Hunt
    email = hello@alexhunt.io
    signingkey = 7B78B3A2DCC8FF93
[commit]
    gpgsign = true
[status]
    showUntrackedFiles = all
[push]
    default = simple
[alias]
    s = status
    d = diff
    dc = diff --cached
    a = add
    cm = commit
    ch = checkout
    log = log --pretty=oneline
    undo = reset --soft HEAD^
    unstage = reset HEAD
    publish = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
[core]
    excludesfile = ~/.gitignore
