[user]
    name = Alex Hunt
    email = hello@alexhunt.io
    signingkey = 7B78B3A2DCC8FF93
[commit]
    gpgsign = true
[status]
    showUntrackedFiles = all
[push]
    default = simple
[alias]
    s = status
    cm = commit
    d = diff
    ch = checkout
    a = add
    log = log --pretty=oneline
    undo = reset --soft HEAD^
    stash-all = stash save --include-untracked
[core]
    excludesfile = ~/.gitignore
