[user]
    name = Alex Hunt
    email = hello@alexhunt.io
    signingkey = 7B78B3A2DCC8FF93
[commit]
    gpgsign = true
[status]
    showUntrackedFiles = all
[push]
    default = simple
[alias]
    s = status
    l = log
    d = diff
    dc = diff --cached
    a = add
    c = commit
    ca = commit --amend
    cn = commit --amend --no-edit
    ch = checkout
    cp = cherry-pick
    pushf = push --force-with-lease
    publish = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
[core]
    excludesfile = ~/.gitignore
