[user]
	name = Alex Hunt
	email = hello@alexhunt.io
	signingkey = DCC8FF93
[diff]
	tool = diffmerge
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[apply]
	whitespace = nowarn
[commit]
	gpgsign = true
[alias]
    s = status
    cm = commit
    d = diff
    ch = checkout
    a = add
    log = log --pretty=oneline
