[user]
	signingkey = 7B78B3A2DCC8FF93
	email = hello@alexhunt.io
	name = Alex Hunt
[commit]
	gpgsign = true
[push]
	default = simple
[alias]
    s = status
    cm = commit
    d = diff
    ch = checkout
    a = add
    log = log --pretty=oneline
